<%- include header.ejs %>
<div class="container">
    <%- include msg.ejs %>
</div>

<!-- <div class=" -danger -dismissible fade show mb-0" role="">
                    <button type="button" class="close" data-dismiss="" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="fa fa-exclamation mx-2"></i>
                    <strong>Error !</strong> Incomplete Allocation</div>-->

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Add New Timesheet</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Timesheet Inputs</h6>
                </div>
                <form method="POST">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <strong class="text-muted d-block mb-2">Pick a Date</strong>

                                    <!--<div id="date-picker"
                                        class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0"
                                        style="max-width: 350px;">
                                        <span class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="material-icons"></i>
                                            </span>
                                        </span>
                                        <input type="text" class="input-sm form-control" name="date" placeholder="Date"
                                            required readonly>
                                    </div>
                                </div>
                            </div>-->
                                    <div class="week-picker"></div>
                                    <br /><br />
                                    <label>Week :</label> <span id="startDate"></span> - <span id="endDate"></span>
                                </div>
                                <input type="hidden" class="input-sm form-control" name="date" id="date"
                                    placeholder="Date" required readonly>
                            </div>
                        </li>

                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <strong class="text-muted d-block mb-2">Allocable Percentage</strong>
                                    <input type="text" class="form-control" id="allocable_percentage"
                                        name="allocable_percentage" required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <strong class="text-muted d-block mb-2">Non-Allocable Percentage</strong>
                                    <input type="text" class="form-control" id="non_allocable_percentage"
                                        name="non_allocable_percentage" required>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <strong class="text-muted d-block mb-2">Personal Time Percentage</strong>
                                    <input type="text" class="form-control" id="personal_time_percentage"
                                        name="personal_time_percentage" required>
                                </div>
                            </div>
                        </li>
                       

                        
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong class="text-muted d-block mb-2">Projects</strong>
                                    <table class="table mb-0">
                                           
                                        <thead class="bg-light">
                                            <tr>
                                                <input type="hidden" class="form-control" name="employeeID"
                                                    value="<%= user.employeeID %>">
                                                <input type="hidden" class="form-control" name="level"
                                                    value="<%= user.level %>">
                                                <input type="hidden" class="form-control" id="inputPerc"
                                                    name="firstName" value="<%= user.firstName %>">
                                                <input type="hidden" class="form-control" id="inputPerc" name="lastName"
                                                    value="<%= user.lastName %>">
                                                <input type="hidden" name="teamLead" value="<%= teamLead %>">
                                                <th scope="col" class="border-0">Allocation</th>
                                                <th scope="col" class="border-0">Projects</th>
                                                <th scope="col" class="border-0">Percentage</th>
                                                <th scope="col" class="border-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="addformProject">
                                               
                                            <tr>
                                                    <% if(user.level != 1) { %>
                                                <td>
                                                    <div class="form-group">
                                                        <select id="inputAllocable" class="form-control"
                                                            name="allocation">
                                                            <option selected>Allocable</option>
                                                            <option>Non-Allocable</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <select id="inputAllocable" class="form-control" name="project">
                                                            <% for (var i = 0; i < allmyproject.length; i++) { %>
                                                            <option
                                                                value="<%= allmyproject[i] %> (<%= allmyprojectID[i] %>)">
                                                                <%= allmyproject[i] %></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="number" min="0" class="form-control" id="inputPerc"
                                                            name="percentage" value=0 required>
                                                    </div>
                                                </td>
                                                <% } %>
                                            </tr>
                                           
                                        </tbody>
                                       
                                    </table>
                                </div>
                            </div>
                        </li>
                       
                        <li class="list-group-item d-flex px-3">
                            <button class="btn btn-sm btn-outline-accent" id="add_project">
                                <i class="material-icons">add</i> Add Project
                            </button>
                            <button class="btn btn-sm btn-outline-accent" id="add_custom_project">
                                <i class="material-icons">add</i> Add Custom Project
                            </button>
                            <button class="btn btn-sm btn-accent ml-auto submit-btn">
                                <i class="material-icons">done</i> Submit
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

</main>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<script src="../scripts/extras.1.1.0.min.js"></script>
<script src="../scripts/shards-dashboards.1.1.0.js"></script>
<script src="../scripts/app/app-blog-overview.1.1.0.js"></script>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen"
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript">
    $(function () {
        var startDate;
        var endDate;

        var selectCurrentWeek = function () {
            window.setTimeout(function () {
                $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
            }, 1);
        }

        $('.week-picker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            onSelect: function (dateText, inst) {
                var date = $(this).datepicker('getDate');
                startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
                endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
                var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
                $('#startDate').text($.datepicker.formatDate(dateFormat, startDate, inst.settings));
                $('#endDate').text($.datepicker.formatDate(dateFormat, endDate, inst.settings));

                $('#date').val($.datepicker.formatDate(dateFormat, startDate, inst.settings) + ' - ' + $.datepicker.formatDate(dateFormat, endDate, inst.settings));
                selectCurrentWeek();
            },

            beforeShowDay: function (date) {
                var cssClass = '';
                if (date >= startDate && date <= endDate)
                    cssClass = 'ui-datepicker-current-day';
                return [true, cssClass];
            },
            onChangeMonthYear: function (year, month, inst) {
                selectCurrentWeek();
            }
        });
        $('.week-picker .ui-datepicker-calendar tr').live('mousemove', function () {
            $(this).find('td a').addClass('ui-state-hover');
        });
        $('.week-picker .ui-datepicker-calendar tr').live('mouseleave', function () {
            $(this).find('td a').removeClass('ui-state-hover');
        });
    });
</script>


<script>
    function makeProjectID(length) {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for (var i = 0; i < length; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
  }

    $(document).ready(function () {
        $('#add_project').click(function () {
            $('#addformProject').append('<tr> <td> <div class="form-group"> <select id="inputAllocable" name="allocation" class="form-control"> <option selected>Allocable</option> <option>Non-Allocable</option></select> </div> </td>' +
                '<td> <div class="form-group"> <select id="inputAllocable" class="form-control" name="project"> <% for (var i = 0; i < allmyproject.length; i++) { %> <option value="<%= allmyproject[i] %> (<%= allmyprojectID[i] %>)"><%= allmyproject[i] %></option> <% } %> </select> </div> </td> <td>' +
                '<div class="form-group"><input type="number" min="0" class="form-control" id="inputPerc" name="percentage" required></div></td> <td><button type="button" onclick="delete_pro(this)" class="mb-2 btn btn-danger mr-1" id="delete_project"><i class="material-icons">delete</i></button> </td> </tr>');
        });

        $('#add_custom_project').click(function () {
            $('#addformProject').append('<tr> <td> <div class="form-group"> <select id="inputAllocable" name="allocation" class="form-control"> <option selected>Allocable</option> <option>Non-Allocable</option></select> </div> </td>' +
                '<td> <div class="form-group"> <input type="text" class="form-control custom_project" id="inputProject" placeholder="Enter Project" name="project" required> </div> </td> <td>' +
                '<div class="form-group"><input type="number" min="0" class="form-control" id="inputPerc" name="percentage"> </div> </td> <td><button type="button" onclick="delete_pro(this)" class="mb-2 btn btn-danger mr-1" id="delete_project"><i class="material-icons">delete</i></button> </td> </tr>');
        });

        /* $("#delete_project").click(function () {
             console.log('fer');
             //$(this).parent('td').parent('tr').remove();
         });*/

        $('.submit-btn').click(function (e) {
           
            var total = 100;
            var total = parseInt(total);
            var non_allocable_percentage = parseInt($('#non_allocable_percentage').val());
            var allocable_percentage = parseInt($('#allocable_percentage').val());
            var personal_time_percentage = parseInt($('#personal_time_percentage').val());
            var non_allocable_total;
            var allocable_total;

            if (document.getElementById("date").value.length == '') {
                swal('You need to select a DATE');
                e.preventDefault();
            }

            if (non_allocable_percentage == parseInt(0)) {
                non_allocable_total = 0;
            } else {
                non_allocable_total = 100;
            }
            if (allocable_percentage == parseInt(0)) {
                allocable_total = 0;
            } else {
                allocable_total = 100;
            }

            if (total != (non_allocable_percentage + allocable_percentage + personal_time_percentage)) {
                swal("Allocable Percentage, Non-Allocable Percentage, and Personal Time Percentage must add up to 100%");
                e.preventDefault();
            } else {
                
                $('#inputAllocable option').each(function () {
                    if ($(this).prop("selected") == true) {
                        if ($(this).val() == 'Allocable') {
                            var a = $(this).parent('select').parent('div').parent('td').parent('tr').find('#inputPerc').val();

                            allocable_total = allocable_total - a;
                        } else if ($(this).val() == 'Non-Allocable') {
                            var na = $(this).parent('select').parent('div').parent('td').parent('tr').find('#inputPerc').val();

                            non_allocable_total = non_allocable_total - na;
                        }
                    }
                });
                var zero = parseInt(0);
                if (non_allocable_percentage == zero && non_allocable_total != zero) {
                    swal('Cannot create a Non-Allocable Project. Your Non-Allocable Percentage is 0%');
                    e.preventDefault();
                } else if (non_allocable_total != zero) {
                    swal('Your Non-Allocable Percentage does not add up to 100%');
                    e.preventDefault();
                }
                

                if (allocable_percentage == zero && allocable_total != zero) {
                    swal('Cannot create an Allocable Project. Your Allocable Percentage is 0%');
                    e.preventDefault();
                } else if (allocable_total != zero) {
                    swal('Your Allocable Percentage does not add up to 100%');
                    e.preventDefault();
                }
                if (date === null) {
                    swal('WEEK');
                    e.preventDefault();
                }

                if($('.custom_project')[0]) {
                $('.custom_project').each(function(){
                    var projectID = makeProjectID(10);
                    var projectNameID = $(this).val() + ' (' + projectID + ')';
                    $(this).val(projectNameID);
                });    
                }
         

               

      

                

            }
        });
    });

    function delete_pro(row) {
        $(row).parent('td').parent('tr').remove();
    }
</script>
</body>

</html>