<%- include header.ejs %>
<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Overview</span>
      <h3 class="page-title">Timesheet Summary</h3>
    </div>
  </div>
  <!-- End Page Header -->

  <!-- Default Table -->
  <div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">

          <form method="POST">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <p>Dates:</p>
                    <input type="text" name="fecha" id="demo-2" class="form-control form-control-sm" />
                    <p id="result-2">&nbsp;</p>
                  </div>
                  <div class="col-md-7 fer" id="gist-2">
                    <button class="btnbtn-primary" type="submit">Search</button>
                  </div>                
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body p-0 pb-3 text-center">
          <br />
          <div class="text-left">
            <% if (user.level == 0) { %>
            <h5 class="m-0">&nbsp&nbsp&nbspTotal Timesheets: <%= allUser.length %></h5>
            <%} else {%>
            <h5 class="m-0">&nbsp&nbsp&nbspTotal Timesheets: <%= filter_row.length %></h5>
            <%} %>
          </div>

          <table class="table mb-0" id="myTable">
            <thead class="bg-light">
              <tr>
                </br><a href="#" id="test" style="font-size: 20px;" onClick="javascript:fnExcelReport();">Export to
                  Excel</a></br>
              </tr>

              <tr>
                <!-- <%  if (user.level == 0 || user.level == 1) { %>
                                <th scope="col" class="border-0">Name</th>
                                <%} %>-->
                <% if (user.level == 0) { %>
                <th scope="col" class="border-0">Employee ID</th>
                <th scope="col" class="border-0">Name</th>
                <%}%>                  
                <th scope="col" class="border-0">Date</th>

                <th scope="col" class="border-0">Allocable %</th>
                <th scope="col" class="border-0">Non-Allocable %</th>
                <th scope="col" class="border-0">Personal Time %</th>

                <th scope="col" class="border-0">Project Name (Project ID)</th>
                <th scope="col" class="border-0">Allocation</th>
                <% if (user.fullTimePartTime == 'Full Time') { %>
                <th scope="col" class="border-0">Percentage</th>
                <% } %>
                <% if (user.fullTimePartTime != 'Full Time') { %>
                <th scope="col" class="border-0">Hours</th>
                <% } %>
                <th scope="col" class="border-0">Status</th>
                <th scope="col" class="border-1">Excel</th>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < filter_row.length; i++) { %>
              <tr>
                <% if (user.level == 0) { %>
                <td><%= filter_row[i].employeeID %></td>
                <td><%= filter_row[i].firstName %> <%= filter_row[i].lastName %></td>
                <%}%>
                
                <td><%= filter_row[i].date %></td>

                <td><%= filter_row[i].allocable_percentage %></td>

                <td><%= filter_row[i].non_allocable_percentage %></td>

                <td><%= filter_row[i].personal_time_percentage %></td>

                <% var project = filter_row[i].project;
                        var projectArray = project.split(","); 
                        %>
                <td>
                  <% for (var j = 0; j < projectArray.length; j++) { %>
                  <%= projectArray[j] %> <br>
                  <% }  %>
                </td>

                <% var allocation = filter_row[i].allocation;
                        var allocationArray = allocation.split(","); 
                        %>
                <td>
                  <% for (var j = 0; j < allocationArray.length; j++) { %>
                  <%= allocationArray[j] %> <br>
                  <% }  %>
                </td>

                <% var percentage = filter_row[i].percentage;
                        var percentageArray = percentage.split(","); 
                        %>
                <td>
                  <% for (var j = 0; j < percentageArray.length; j++) { %>
                  <%= percentageArray[j] %> <br>
                  <% }  %>
                </td>

                <!-- <td><%= allUser[i].username %></td>-->
                <td><%= filter_row[i].status %></td>
                <td>
                  <a href="#" id="test"
                    onClick="fnExcelReportTimeSheet('<%= JSON.stringify(filter_row[i]) %>');">Excel</a>
                </td>
              </tr>
              <% } %>
            </tbody>
            </br></br>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Default Table -->

</div>
</main>
</div>
</div>
<div id="dvjson"></div>
<span id='variableJSON' hidden>
  <%= JSON.stringify(filter_row); %>
</span>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<script src="scripts/extras.1.1.0.min.js"></script>
<script src="scripts/shards-dashboards.1.1.0.min.js"></script>
<script src="scripts/app/app-blog-overview.1.1.0.js"></script>
<script src="../scripts/excelexportjs.js"></script>
<link rel="stylesheet" href="../styles/css/fer.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/lightpick@latest/lightpick.js"></script>
<script>
  var picker = new Lightpick({
    field: document.getElementById('demo-2'),
    singleDate: false,
    firstDay: 7,
    format: "MM/DD/YYYY",
    onSelect: function (start, end) {
      var str = '';
      str += start ? start.format('MMMM Do YYYY') + ' to ' : '';
      str += end ? end.format('MMMM Do YYYY') : '...';
      document.getElementById('result-2').innerHTML = str;

    }
  });
  //picker.setDateRange(picker.getStartDate().startOf('week'), picker.getEndDate().endOf('week'));

</script>

<script>
  function fnExcelReportTimeSheet(data) {
    info = JSON.parse(data);
    projects = info.project.split(',');
    percentage = info.percentage.split(',');
    allocation = info.allocation.split(',');

    arr = [];
    //projects.forEach((p, index) => {
    //  row = { '': '', 'FName': info.firstName, 'LName': info.lastName, 'Date': info.date, 'Project': p.split('(')[0], 'Percentage': percentage[index], 'Allocation': allocation[index] };
    //  arr.push(row);
    //});
    // arr.push({ '': '', 'FName': '', 'LName': '', 'Date': '', 'Project': '', 'Percentage': '', 'Allocation': '' });
    //arr.push({ '': '', 'FName': info.firstName, 'LName': info.lastName, 'Date': '', 'Project': '', 'Percentage': '', 'Allocation': '' });

    projects.forEach((p, index) => {
      row = { 'DATE': '', '': '', 'First Name': '', 'Last Name': '', '': '', '': '', 'Project': p.split('(')[0], 'Percentage': percentage[index], 'Allocation': allocation[index], '': '', 'Allocable %': '', 'Non-Allocable %': '', 'Personal Time %': '' };
      arr.push(row);
    });

    arr.push({ 'DATE': '', '': '', 'First Name': '', 'Last Name': '', '': '', '': '', 'Project': '', 'Percentage': '', 'Allocation': '', '': '', 'Allocable %': '', 'Non-Allocable %': '', 'Personal Time %': '' });
    arr.push({ 'DATE': info.date, '': '', 'First Name': info.firstName, 'Last Name': info.lastName, '': '', '': '', 'Project': '', 'Percentage': '', 'Allocation': '', '': '', 'Allocable %': info.allocable_percentage, 'Non-Allocable %': info.non_allocable_percentage, 'Personal Time %': info.personal_time_percentage });

    $("#dvjson").excelexportjs({
      containerid: "dvjson",
      datatype: 'json',
      dataset: arr,
      columns: getColumns(arr)
    });
  }

  function fnExcelReport() {
    var data = JSON.parse($('#variableJSON').text());
    arr = [];

    for (const c of data) {
      projects = c.project.split(',');
      percentage = c.percentage.split(',');
      allocation = c.allocation.split(',');

      projects.forEach((p, index) => {
        row = { 'DATE': '', '': '', 'First Name': '', 'Last Name': '', '': '', '': '', 'Project': p.split('(')[0], 'Percentage': percentage[index], 'Allocation': allocation[index], '': '', 'Allocable %': '', 'Non-Allocable %': '', 'Personal Time %': '' };
        arr.push(row);
      });

      arr.push({ 'DATE': c.date, '': '', 'First Name': c.firstName, 'Last Name': c.lastName, '': '', '': '', 'Project': '', 'Percentage': '', 'Allocation': '', '': '', 'Allocable %': c.allocable_percentage, 'Non-Allocable %': c.non_allocable_percentage, 'Personal Time %': c.personal_time_percentage });

      arr.push({ 'DATE': '', '': '', 'First Name': '', 'Last Name': '', '': '', '': '', 'Project': '', 'Percentage': '', 'Allocation': '', '': '', 'Allocable %': '', 'Non-Allocable %': '', 'Personal Time %': '' });
      arr.push({ 'DATE': '', '': '', 'First Name': '', 'Last Name': '', '': '', '': '', 'Project': '', 'Percentage': '', 'Allocation': '', '': '', 'Allocable %': '', 'Non-Allocable %': '', 'Personal Time %': '' });
    }
    $("#dvjson").excelexportjs({
      containerid: "dvjson",
      datatype: 'json',
      dataset: arr,
      columns: getColumns(arr)
    });
  }
</script>
</body>

</html>